@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");

.main-head {
 position: sticky  !important;
 top: 0 !important;;
 z-index: 9999 !important;
  background-color: #fff;
  height: 13vh;
  /* display: flex; */
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  /* justify-content: center; */
  /* align-items: center; */
}

.headbtn{
  width: 108px;
  height: 43px;
  border: 1px solid #0D5DA7; 
  color: #1C5BD9;;
  border-radius: 100px;
  font-family: Montserrat;
font-size: 14px;
font-weight: 700;



}

.in-Head {
  width: 90%;
  height: 100%;
margin: 0 auto;
  display: flex;
  align-items: center;

  justify-content: space-between;
}
.links{
  text-decoration: none;
  color: black;

}
.newsv{
  position: absolute;
  top: -10px;
  right: -10px;
z-index: -1;
}
.zin{
  position: absolute;
  z-index: 11;
  right: 30px;
}

.shin{
  z-index: 11;
}

.left {

  justify-content: space-evenly;
  display: flex;
  width: 70%;
  align-items: center;
}
.left > span {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  margin-left: 22px;
}

.right01 {
  justify-content: space-evenly;
  display: flex;
  width: 30%;
  align-items: center;
}

.right01 > span {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  
}

.dd1 {
  display: flex;
  position: relative;
}



.onlink{

height: 17px;


font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;



color: #1C1C1C;
  transition: all .2s ease-in-out;
}

.onlink:hover{
  transform: scale(1.1);
}


.hamburgmenu{
  display: none;
  width: 100%;
background-color: rgb(255, 255, 255);
  height: 300px;
  position: absolute;
  top: 76px;
animation: slidedown 0.5s ease-in ;

}

@keyframes slidedown {
  0%{
     transform: translateY(-5px);
    opacity: 0;
  }
  
}