.docinfoleft>h2{



    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 22px;

}

.aBoutdoc{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin-left: 5%;

}

.docinfoleft{
 padding-top: 5rem;
    width: 700px;
    line-height: 2rem;
}
.docinfoleft>p{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
 
    
}

.docinforight{
    margin-right: 5%;
    width: 350px;
    height: 300px;
    padding-top: 2rem;
     margin-top: 2rem;
   
}

.docinfoleft>span{
    display: flex;
    
}
.docinfoleft>span>img{
   width: 22px;
   height: 18px;
    margin-right: 2rem;
    margin-top: 0.5rem;
}
.box{
    border: 1px solid #F1F1F1;
    box-shadow: 0px 2px 10px 0px #0000000D;
   width: 100%;
   padding: 2rem;
   position: relative;
}


.dbqu{
    height: 57.709922790527344px;
    width: 70px;


position: absolute;
top:-22px;
right: 12px;

    background: #F1F1F1;
    transform: matrix(-1, 0, 0, 1, 0, 0);

}
.box>h6{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
 padding: 12%;
    

}
.box>h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
     padding-left: 12%;

    

}


.calldoc{
    position: absolute;
    right: -95px;
}

.onshow{
    display: flex;
    flex-direction: column;
     justify-content: space-evenly;
     /* height: 200vh; */

}


.onshowup{
    display: flex;
}


.onshowup01{
    border: 1px solid #F1F1F1;
    border-radius: 6px;
  padding: 5%;
  margin-right: 5%;
  background: linear-gradient(0deg, #F1F1F1, #F1F1F1),
linear-gradient(0deg, #FAFAFA, #FAFAFA);


}

.exp{
 
    width: 104px;
    height: 22px;
  margin-bottom: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    
    /* identical to box height */
    
    color: #1C1C1C;
}

.docmore{
    display: flex;
}

.docmorein>h1{
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    

}
.docmorein>h4{
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    
    

}
.docmorein>h5{


    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    
    /* identical to box height */
    
    color: #999999;
    
    

}

.docmore>img{
    margin-right: 12px;
}

.onshowdown{
    padding: 5%;
    height: 300px;
    background: linear-gradient(0deg, #F1F1F1, #F1F1F1),
linear-gradient(0deg, #FAFAFA, #FAFAFA);
border: 1px solid #F1F1F1;
border-radius: 6px;
margin-top: 5%;
display: flex;
flex-direction: column;
justify-content:space-evenly;

}

.avail{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;

/* identical to box height */

color: #1C1C1C;
}

.sched{
    display: flex;
flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
    height: 100%;
    align-items: center;
}
.days{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.days>h1{
    
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;

/* identical to box height */

color: #1C1C1C;
}
.days>h3{
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    
    /* identical to box height */
    
    color: #1C1C1C;
}

.martop04{
    margin-top: 12px;
}