@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");

.hero {
  height: 100vh;
  /* width: 100vw; */
  position: relative;
  background-color: #f2f7ff;
}

body {
  overflow-x: hidden;
}

.inhero {
  background: #d2e1fe;
  display: flex;
  height: 90%;
  width: 100%;
  justify-content: space-evenly;
}

.heroleft {
  width: 50%;
  position: relative;
}

.heroleft > img {
  bottom: 22px;

  position: absolute;
}
.bghroleftup {
  left: 30%;
}

.bghroleft {
  top: 40px;
  left: 0px;
}


.slideee{
  animation: slidecont 0.2s ease-in-out 0.1s backwards;

}

@keyframes slidecont{
  0%{
    opacity: 0;
  }
}


.heo {
  position: absolute;
  width: 100%;
  display: flex;
  height: 15vh;
  bottom: 19px;
  justify-content: center;
}

.heodown {
  display: flex;
  justify-content: space-evenly;
  border-radius: 6px;
  background: #7f75ff;
  height: 100%;
  width: 79%;
}

.heroright {
  align-items: center;
  display: flex;
  width: 50%;
  justify-content: center;
}

.hek {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 60px;
  }



.inheroright {
  width: 62%;
  height: 60%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-evenly;
}

.hteen {
  width: 80%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 19px;
}

.btt {
  width: 173px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  background: #1c5bd9;

  height: 45px;
  border-radius: 100px;
}

.arrow {
  position: absolute;
  width: 128px;
  bottom: -13%;
  right: 57%;
}

.arrow2 {
  position: absolute;
  bottom: -16%;
  width: 128px;
  right: 69%;
  width: 5rem;
}

.beFvwb > .arrow {
  width: 128px !important;
}
.heodown1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heodown2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heodown1 > span {
  font-size: 13px;
  font-weight: 600;
  width: 55%;
  color: white;
}

.heodown2 > span {
  font-size: 13px;
  font-weight: 600;
  width: 55%;
  color: white;
}

.contnr {
  height: 89%;
  width: 100%;
  background: #D2E1FE;;
}

.slide-cont {
  height: 100%;
  width: 100%;
}

.slide {
  justify-content: center;
  width: 1200px;
  display: flex;
}

.slide-left {
  width: 800px;
  display: flex;
  position: relative;
  height: 600px;
  /* animation: slidecont 0.4s ease-in 0.6s backwards; */
}



.slide-left > img {
  position: absolute;
}

.alldocs {
  left: 25%;
  width: 680px;
  height: 500px;
  bottom: 10%;
}

.slide-right {
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* padding: 5%; */
  /* margin-left: 20%; */
  width: 700px;
  /* animation: slideiont 0.4s ease-in 0.6s backwards; */
}



.homeh1 {
  font-family: Montserrat;
  font-size: 46px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: left;
  width: 60%;
  margin-left: 20%;

}

.homeh3 {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  width: 60%;
  margin-left: 20%;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

.consultnow {
  width: 158px;
  position: absolute;
  /* border: 1px solid blue; */
  border-radius: 100px;
  color: white;
 
background: #1C5BD9;
border-radius: 100px;
font-family: Montserrat;
font-size: 14px;
font-weight: 700;
line-height: 17px;


   /* margin-left: 200px; */
  right: 27.5%;
  height: 53px;
  /* animation: slidebont 0.8s ease-in 0.9s backwards; */
}

@keyframes slidebont {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
}

.arrdw {
  position: absolute;
  right: 26%;
  width: 63px;
  /* height: 43px; */
  bottom: 28%;
  /* animation: slidevont 0.8s ease-in 0.9s backwards; */
}





.private {
  position: absolute;
  right: 31%;
  width: 72px;
  bottom: 26%;
  /* animation: slidexont 0.8s ease-in 0.9s backwards; */
}

@keyframes slidexont {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
}


.contnr .slide-cont{
  /* display: none; */

}
.contnr .slide-cont.active{
  /* display: block; */

}


.catoonhome{
   height: 450px;
   bottom: 20%;
  position: absolute;
  right: 15%;
}

.roundefc{
  /* scale: 1; */

}

.padbot{
  padding-bottom: 4%;
}


#ri,#le{
position:absolute;
  background:rgba(111, 106, 106, 0.557);
  border-radius: 55px;
  color: white;
  width: 14px;
  display: flex;
  /* padding: 6px; */
  justify-content: center;
  align-items: center;
  height: 14px;
  display: flex;justify-content: center;align-items: center;
  position: relative;
  font-size: 24px;
  font-weight: bold;
  /* top: 50%; */font-size: 16px;
bottom: 18%;
  /* cursor: pointer; */

}
/* 
.inwhite{
position: absolute;
  width: 6px;
  height: 6px;
  background-color: #fff;
} */

#ri{
  position:absolute;
  right: 45px;
}

#le{
  position:absolute;
  right: 20px;
}
/* #myDIV{
  display: block;
}

#meDIV{
  display: none;
} */


@media only screen and (max-width: 600px) {
  .hero{
   display: none;

  }
}