@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

.hero{
   
    height: 100vh;
    /* width: 100vw; */
    position:relative;
    background-color: #F2F7FF;
}

body{
  overflow-x: hidden;
}


.inhero{
    background: #D2E1FE;
    display: flex;
    height: 90%;
    width: 100%;
    justify-content: space-evenly;
}

.heroleft{

    width: 50%;
    position: relative;
}

.heroleft>img{
  bottom: 22px;
  
    position: absolute;
}
.bghroleftup{
    left: 30%;
}

.bghroleft{
  top: 40px;
  left: 0px;

    
}



.heo{
    position: absolute;
    width: 100%;
    display: flex;
    height: 15vh;
    bottom: 19px;
    justify-content: center;
}

.heodown{
    display: flex;
    justify-content: space-evenly;
    border-radius: 6px;
    background: #7F75FF;
      height: 100%;
      width: 70%;
    
}

.heroright{ 
    align-items: center;
      display: flex;
      width: 50%;
      justify-content: center;
      

}

.hek{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
    animation: slidecont .4s ease-in .6s backwards; 
}

@keyframes slidecont {
  0%{
    opacity: 0;
    transform: translateX(-50px);
  }
  
}


.inheroright{
    width: 62%;
    height: 60%;
    display: flex;
    position: relative; 
    flex-direction: column;
    justify-content: space-evenly;
}

.hteen{
    width: 80%;
    font-family: 'Montserrat', sans-serif;  
    font-weight: 400;
    font-size: 19px;
}

.btt{
    width: 173px;
    font-family: 'Montserrat', sans-serif;  
    font-size:14px;
    font-weight:700;
    background: #1C5BD9;
 
    height: 45px;
border-radius: 100px

}

.arrow{
  position: absolute;
  width:128px;
bottom: -13%;
right: 57%;
  }

  .arrow2{
    position: absolute;
  bottom: -16%;
  width:128px;
  right: 69%;
  width: 5rem;
  }

.beFvwb>.arrow {
width: 128px !important;
}
  .heodown1{

display: flex;
justify-content: center;
align-items: center;


  }

  .heodown2{

    display: flex;
    justify-content: center;
    align-items: center;
    
    
      }

  .heodown1>span{
    font-size: 13px;
    font-weight: 500;
    width: 55%;
  }

  
  .heodown2>span{
    font-size: 13px;
    font-weight: 500;
    width: 70%;
  }


  .contnr{
    height: 100%;
    width: 100%;

  }

  .slide-cont{
    height: 100%;
    width: 100%;
  }

  .slide{
    justify-content: center;
    width: 1200px;
    display: flex;
  }

  .slide-left{
    width: 800px;
    display: flex;
    position: relative;
    height: 600px;
  }

  .slide-left>img{
    position: absolute;

  }

  .alldocs{
    left: 25%;
    width:680px;
    height: 500px;
 bottom:10%  ;
  }


  .slide-right{
    height: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* padding: 5%; */
    /* margin-left: 20%; */
  width: 700px;
  }

  .homeh1{
    font-family: Montserrat;
font-size: 56px;
font-weight: 700;
line-height: 60px;
letter-spacing: 0em;
text-align: left;
margin-left: 15%;

  }

  .homeh3{
    font-family: Montserrat;
font-size: 18px;
font-weight: 400;
width: 60%;
margin-left: 15%;
line-height: 36px;
letter-spacing: 0em;
text-align: left;

  }

  .consultnow{
    
  }