.main{
    background-color: black;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;align-items: center
}

.submain{
width: 50%;
height: 50%;
display: flex;align-items: center;justify-content: space-evenly;
flex-direction: column;
}

.hone{
    display: flex;align-items: center;justify-content: center;
}
.hone>h1{
    font-size: 60px;
}

.btns{
    width: 50%;
    display: flex;align-items: center;justify-content: space-evenly;

}

.btns >button{
width: 100px;
height: 40px;
cursor: pointer;

}