.main2{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;


}

.main2-in{
    height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
    width: 80%;
    /* display: flex; */
   /* margin: 0 auto; */
    /* flex-direction:column; */

}



.uppermain2-in{
    display: flex;
    margin-bottom: 24px;
    justify-content: space-between;

}

.lowermain2-in{
   display: flex;
   position: relative;
    /* width: 80%; */
  

}
.docpics>img{
    cursor: pointer;
    margin-left: 1rem;
    transition: all;
    /* transition: width; */
    /* transition-property: height; */
    transition-duration: 2s;
    /* animation: low s ease-in; */
}

/* @keyframes low {
 
    

    0%{
        opacity: 0;
    }
} */



.docpics{

    display: flex;
    /* margin-left: -70px; */
    /* align-items: flex-start; */
    align-items: flex-end;
    height: 86%;

    
}
.docpics > div{
margin:2px ;

}
.btnvad{
    width: 183px;
    border: 1px solid #1C5BD9;
    color: #1C5BD9;

}

.main2upperleft>h1{
    font-family: 'Montserrat', sans-serif; ;
    font-weight: 700;
    font-size: 32px;

}
.decr{
    /* width: 30%; */
    font-weight: 600;
    padding: 5px;
    font-size: 12px;

}


.dnn{
    display: none !important;
}
.aboutdoc{
    border-top:1px solid gray ;
    border-bottom:1px solid gray ;
    /* justify-content: space-evenly; */
    /* display: flex; */
    height: 75vh;
    /* flex-direction: column; */
    position: relative;
left: 6%;
}

.spa{
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
    display: flex;
    margin-top: 30px;
    

}
.spa>img{
    margin-right: 12px;
}
.graybox{
    display: flex;
    flex-direction: column;
    background: #ECEFF1;
    border-radius: 6px;
    width: 100%;
    padding-top: 26px;
    margin-top: 40px;
    padding-left: 8px;
    /* padding-bottom: px; */
    height: 127px;
}

.aboutdoc>h1{
    font-weight: 700;
    font-size: 22px;
    margin-top: 18px;
    font-family: 'Montserrat', sans-serif;     
}
.lef{
    margin-left: -4px;
}

.lineup{
    position: absolute;
    bottom: 22px;
    left: 18%;
}

.graybox>h3{
    font-weight: 700;
    font-size: 12px;
    padding-left: 12px;
    margin-bottom: 12px;
    font-family: 'Montserrat', sans-serif;  
  
}

.graybox>span{
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: left;
}

.docsa3{
       width: 293px !important;
       height: 378px !important;
       /* cursor: pointer; */
}